chain connectionstate {
	# accept established and related connections always
	ct state {established, related} accept

	# drop and log with rate limiting invalid connection state packages
	ct state invalid limit rate 3/second log level debug prefix "conn state invalid: " counter
	ct state invalid counter drop
}
