#!/usr/sbin/nft -f

# accept established and related connections always
add rule inet filter input ct state {established, related} accept
add rule inet filter output ct state {established, related} accept
{% if nft_mode == "router" %}
add rule inet filter forward ct state {established, related} accept
{% endif %}

# log with rate limiting invalid connection state packages
add rule inet filter input ct state invalid counter log prefix "conn state invalid/in: " limit rate 3/second drop
add rule inet filter output ct state invalid counter log prefix "conn state invalid/out: " limit rate 3/second drop
{% if nft_mode == "router" %}
add rule inet filter forward ct state invalid counter log prefix "conn state invalid/fwd: " limit rate 3/second drop
{% endif %}
