#!/usr/sbin/nft -f

# accept loopback traffic always
add rule inet filter input iif $int_loopback accept comment "accept loopback always"
add rule inet filter output oif $int_loopback accept comment "accept loopback always"

