#!/usr/sbin/nft -f

flush ruleset

include "nftables.d/constants"

table inet filter {
	include "nftables.d/connectionstate-policy"
	include "nftables.d/localhost-policy"

        chain input {
                type filter hook input priority 0;
                jump localhost
                jump connectionstate
        }

        chain output {
                type filter hook output priority 0;
                jump localhost
                jump connectionstate
        }

        chain forward {
                type filter hook forward priority 0;
		{% if nft_mode == "router" %}
                jump connectionstate
		{% endif %}
        }
}
